{% extends '../standard/base.html' %}


{% block content %}

	{% load crispy_forms_tags %}
    {% load i18n %}        

	<!--Reset Password-->
    <header class="masthead">
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
              <h1 class="text-uppercase text-white font-weight-bold">{% trans "Reset the password" %}</h1>
              <hr class="divider my-4">
            </div>
            <div class="container p-5" style="color:white;">
                <h2 class="font-weight-bold mt-3">{% trans "Reset the password" %}</h2>
                <hr>
                <p>{% trans "Did you forgot your password ? Enter your mail address below and we'll send you reset instructions." %}</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ password_reset_form|crispy }}
                    <button class="btn btn-primary" type="submit">{% trans "Envoyer l'email" %}</button>
                </form>
            </div>
          </div>
        </div>
    </header>
{% endblock %}