{% extends "../standard/base.html" %}
{% load i18n %}
{% block content %} 
    <header class="masthead">
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
              <h1 class="text-uppercase text-white font-weight-bold">{% trans "Password reset" %}</h1>
              <hr class="divider my-4">
            </div>
            <div class="container p-4" style="color:white;">
                <h2 class="font-weight-bold mt-3">{% trans "Password reset complete" %}</h2>
                <hr>
                <p>{% trans "Your new password has been saved. You can continue and connect to your account right now with your new password." %}</p>
                <a href="/search_food/login_user" class="btn btn-primary">{% trans "Sign in" %}</a>
            </div>
          </div>
        </div>
    </header>
{% endblock %}