{% extends 'standard/base.html' %}

{% block content %}  
  
  <!-- Subsitute Page -->

<div class="container-fluid favorite">
        <div class="container">
          <h1>Favoris</h1>
            <div class="row">
                {% for favorite in product %}
                {% if user == favorite.user_associate %}
                <div class="col-lg-12 product-template">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                              {% if favorite.image %}
                                  <img class="img img-max-size" src="{{ product.image }}"/>
                              {% else %}
                                  <p>Pas d'image disponible.</p>
                              {% endif %}
                              <h2 class="product-title">{{ favorite.product_name }}</h2>
                              <p>Substitut de : {{ favorite.product_associate }}</p>
                            </div>
                        </div>
                    </div>    
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    
{% endblock %}