{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <style>
        h1{ color: #f4623a; }
    </style>
</head>
    <body>
        <h1>PUR BEURRE</h1><br>
        <h2>{% trans "Please click on the link below to confirm your account !" %}</h2>
        <a href="{{ link }}">{% trans 'Click me' %}</a>
        <h3>{% trans "Then you can connect with your username and your password." %}</h3>
        <h4>{% trans "Pur Beurre Martin Gaucher 2020  - Fat yes, but of quality !" %}</h4>
    </body>
</html>