{% extends 'standard/base.html' %}
{% load i18n %}
{% block content %}

  <!-- Product Page -->
        <div class="container-fluid h-10 favorite" id="product">
          <div class="row align-items-center justify-content-center text-center" style="margin-top:10em;">
            <h2 class="text-center" style="color:white;">{% trans "No product found." %} {{ original }}</h2>
          </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 style="text-align: center; margin-top:20px; color:white">{% trans "There is no products for your research." %}</h3>
                    </div>
                </div>
            </div>
          </div>
    
{% endblock %}