{% extends 'standard/base.html' %}
{% load i18n %}
{% block content %}  
{% load check_favorite %}
  <!-- Subsitute Page -->

<div class="container-fluid favorite">
        <div class="container">
            <div class="row product-template">
                <h2>{% trans "Your substitute product :" %}</h2>
                <div class="col-lg-3">
                    <div class="col-lg-12">
                        {% if original.nutriscore == "1" %}
                            <span class="nutriscore-setup text-center green-nutri float-right">A</span>
                        {% elif original.nutriscore == "2" %}
                            <span class="nutriscore-setup text-center float-right yellow-nutri">B</span>
                        {% elif original.nutriscore == "3" %}
                            <span class="nutriscore-setup text-center float-right orange-nutri">C</span>
                        {% elif original.nutriscore == "4" %}
                            <span class="nutriscore-setup text-center float-right red-nutri">D</span>
                        {% elif original.nutriscore == "5" %}
                            <span class="nutriscore-setup text-center float-right black-nutri">E!</span>
                        {% endif %}

                        {% if original.image %}
                            <img class="img img-fluid img-max-size" src="{{ original.image }}"/>
                        {% else %}
                            <p>{% trans "No picture available." %}</p>
                        {% endif %}

                        <h3 class="text-center"> {{ original.name }} </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <section class="jumbotron text-center">
                <h1>{% trans "Here is the list of products:" %}</h1>
            </section>
            <div class="row">
                {% for product in substitutes|dictsort:"nutriscore"|slice:":10" %}
                <div class="col-lg-12 product-template">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        {% if product.nutriscore == 1 %}
                                            <span class="nutriscore-setup text-center green-nutri">A</span>
                                        {% elif product.nutriscore == 2 %}
                                            <span class="nutriscore-setup text-center yellow-nutri">B</span>
                                        {% elif product.nutriscore == 3 %}
                                            <span class="nutriscore-setup text-center orange-nutri">C</span>
                                        {% elif product.nutriscore == 4 %}
                                            <span class="nutriscore-setup text-center red-nutri">D</span>
                                        {% elif product.nutriscore == 5 %}
                                            <span class="nutriscore-setup text-center black-nutri">E!</span>
                                        {% endif %}

                                        {% if product.image %}
                                            <img class="img img-max-size" src="{{ product.image }}"/>
                                        {% else %}
                                            <p>{% trans "No picture available." %}</p>
                                        {% endif %}

                                        <h2 class="product-title">{{ product.name }}</h2>
                                    </div>
                                    <div class="col-lg-6">
                                        <h3 class="product-title">{% trans "characteristics: "%}</h3>
                                        
                                        <ul class="list-group">
                                                <li class="list-group-item"><span class="product-char">{% trans "Description: " %}</span>
                                                    {% if product.description == "" %}
                                                        {% trans "No description" %}
                                                    {% else %}
                                                        {{ product.description }}
                                                    {% endif %}
                                                </li>
                                            <li class="list-group-item"><span class="product-char">{% trans "Salt: "%}</span>{{ product.salt|floatformat:2 }}</li>
                                            <li class="list-group-item"><span class="product-char">{% trans "Sugar: "%}</span>{{ product.sugar|floatformat:2 }}</li>
                                            <li class="list-group-item"><span class="product-char">{% trans "Fat: "%}</span>{{ product.fat|floatformat:2 }}</li>
                                            <li class="list-group-item find-off"><a href="https://fr.openfoodfacts.org/produit/{{ product.barcode }}" target="_blank">{% trans "Find on openfoodfacts" %}</a></li>
                                        </ul>
                                        {% if product.barcode in favorites.barcode.values %}
                                            <h1>{% trans "This product is in favorites" %}</h1>
                                        {% endif %}
                                        {% check_favorite product.barcode user.username as check_fav%}
                                        {% if not user.is_authenticated %}
                                            <button name="product_barcode" class="btn-favorite btn btn-primary save-button" disabled><i class="far fa-save fa-2x"></i>{% trans "You must be connected to access this functionnality." %}</button>
                                        {% elif check_fav %}
                                            <button name="product_barcode" class="btn-favorite btn btn-primary save-button" disabled><i class="far fa-save fa-2x"></i>{% trans "Already added in database." %}</button>
                                        {% else %}
                                         <form id="form-favorite" action="{% url 'add_favorite' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="favorite_true_url" value="{% url 'add_favorite' %}"/>
                                            <button type="submit" name="product_barcode" value="{{ product.barcode }}" class="btn-favorite btn btn-primary save-button"><p><i class="far fa-save fa-3x"></i></p>{% trans "Add to favorites" %}</button>
                                        </form>
                                        {% comment %} <button name="product_barcode" value="{{ product.barcode }}" class="btn-favorite btn btn-primary save-button"><i class="far fa-save fa-2x"></i>{% trans "Add to favorites" %}</button> {% endcomment %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    
{% endblock %}